{% extends 'base.html' %}
{% block title %}Play Boggle!{% endblock %}
{% block content %}
<div class="centered">
    <h1 class="heading__huge">Let's Play<br><span>Boggle!</span></h1>
    <div class="instructions">
        <p class="instructions__p">To play, find connecting letters in the puzzle that form words. You cannot use the same letter twice in a single word. In this game, ONLY SINGULAR WORDS COUNT! So pay attention! Good luck!</p>
        <a href="/new-game" class="btn btn--yellow">Start Game!</a>
    </div>
</div>
{% endblock %}